* {
  padding: 0px;
  margin: 0px;
}
.Header {
  width: 99.7vw;
  height: 50px;
  background-color: black;
  color: red;
  font-weight: 100px;
  text-align: center;
  padding: 20px;
}
.Card {
  width: 250px;
  height: 300px;
  border: 1px solid black;
  margin: 50px;
  border-radius: 20px;
  overflow: hidden;
  float: left;
}
img {
  border-radius: 10px;
}
.line {
  text-align: center;
  text-transform: uppercase;
}
.search {
  position: relative;
  left: 40vw;
  top: 20px;
}
.search input {
  padding: 10px;
  width: 270px;
  text-align: center;
  text-transform: uppercase;
}
